.App {
  text-align: center;
}

.images-container {
  /* border: 1px dotted black; */
  margin: 10px auto !important;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.image {
  /* border: 1px solid tomato; */
  margin: 1rem;
}
